<!-- ======= comments Section ======= -->
<section id="comments">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">留个言呗</h3>
        <p class="section-description">人走茶凉，落得满地荒凉。痴心残忆随君逝，秋风萧瑟入君梦。愿此情，此意随风零落为泥碾，仍相记。  <br/> ✨ 留个祝福/个性签名/座右铭，做个纪念，有缘再见 <br/>✨ 任何渲染色情，暴力，政治，不道德留言将被删除</p>
      </div>
      <div *ngFor="let comment of comments" class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <h4 class="title"><a href="">{{comment.name}}</a></h4>
            <p class="description">{{comment.description}}</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <h4 class="title"><a href="">点击留言</a></h4>
              <a href=""><button class="btn btn-primary"><i class="fa fa-plus"></i></button></a>
            </div>
          </div>
      
      </div>

    </div>
  </section><!-- End comments Section -->