.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

#position{
 position:relative;
  left:200px;
  top:-340px
}

.column1 {
  float: left;
  width: 25%;
  padding: 0px;
}

.column2 {
  float: right;
  width: 25%;
  padding: 0px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

body{
  font-size:24px;
  font-family:'Ma Shan Zheng', cursive;
}

 .front{
  position: relative; 
   top: 30px; 
   left:1340px ; 
   width: 100%;
 }

 .back{
  position: relative; 
   top: 0px; 
   left:1080px ; 
   width: 100%;
 }

 .table{
  position:right;
  width:25; 
  border:0; 
}

table,th,td{
  border: 2px solid black;
  border-collapse: collapse;
}

section{
  display:block;
}

.column1 {
  width: 25%;
  padding: 0px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h4{
  position: relative;
  color: #000;
  text-decoration: none;
  text-align:center;
}

.container {
  overflow:hidden;
  border:1px black;
  position: relative;
  width: 100%;
}

.text{
  padding:20px;
}

.image{
  padding:20px;
}

h4:before {
  content: "";
  position: absolute;
  width:100%;
  right:100px;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h4:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.link{
  color:white;
}