
.styles_header__3PFGX{
    background-color: white !important;
    box-shadow: 2px 2px black;
}

.styles_navLogo__34TdC {
    width: 15vw;
}

.logo-container{
    width: 100px !important;
}


.styles_navLinks__38tON a {
    color: black;
    font-size: 18px;
    width: 10vw;
}

.styles_navLinks__38tON li a:hover{
    border: 2px solid black;
}

.styles_navSocial__3JBh_ li {
    background-color: black;

}

.styles_navSocial__3JBh_ li:hover {
    border: 2px solid black;   
}


.MobileNav_MoNavLinks__mNUdF ul {
    padding: 8px 60px;
    justify-content: center;
    margin-bottom: 3px;
    display: flex;
    text-align: center;
}

