<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
      <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
          <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
          </div>
      </div>
          <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0">
              </div>
      </div>
  </div>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a routerLink="/dashboard/add-developers">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          ➕ 添加👨‍💻 
      </button>
    </a>
    </div>
  </div>

  <canvas class="w-100" id="myChart" width="1271" height="10" style="display: block; width: 1271px; height: 10px;"></canvas>

  <div  class="table-responsive">
    <table  class="table table-striped table-sm">
      <thead > 
        <tr>
          <th>ID</th>
          <th>名字</th>
          <th>职位</th>
          <th>人头照</th>
          <th>Github</th>
          <th>Email</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let developer of developers">
        <tr>
          <td>{{developer._id}}</td>
          <td>{{developer.name}}</td>
          <td>{{developer.position}}</td>
          <td>{{developer.image}}</td>
          <td>{{developer.github}}</td>
          <td>{{developer.email}}</td>
          <td>    
              <a routerLink="/dashboard/developer/edit/{{developer._id}}">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  ✍🏻 修改
              </button>
            </a>
          </td>

          <td>  
          <span *ngIf="confirmDelete">
            <span>您确定要删除吗？请三思哦！</span>
            <button class="btn  btn-sm  btn-danger"  (click)="deleteDeveloper(developer._id);">确定</button>
            <button class="btn  btn-sm  btn-primary" (click)="confirmDelete=false">取消</button>
          </span>
          <button *ngIf="!confirmDelete" class="btn  btn-sm btn-danger" (click)="confirmDelete=true">🗑️ 删除</button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>