<!-- 
<div class="grid-container">
    <div>
        <ul >
            <li><a href="https://www.facebook.com/LUCChineseAssociation"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/chinese.association.linton/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.instagram.com/chinese.association.linton/"><i class="fa fa-envelope fa-lg"></i></a></li>

        </ul>
    </div>

    <div class="memo">
        <p>公告：林登华文学会于 10月 29日 正式关闭</p>
    </div>
   
</div> -->

<div class="ticker-wrap">
    <div class="ticker">
      <div class="ticker__item">
        ⚠️特别公告
        ⚠️</div>
      <div class="ticker__item">📢 林登大学于2020年10月1日宣布停止全面事务。由于在防疫期间，林登大学面临了部分财务问题进而导致所有课程及社团活动，将全面停止运作。</div>
      <div class="ticker__item">📢 林登华文学会在此致上万分歉意，未来将无法在继续参与于支持各大专/学院/华团/社团所宣扬的活动。  </div>
      <div class="ticker__item">📢 若有任何疑问，请致电：Vivian +60 18-9804753</div>
</div>
