.box {
    display: flex;
}

.card{
    width: 20vw;
    margin: 20px;
    text-align: center;
    border: solid 0.5px  gray;
}

.btn{
    margin: 10px;
}

.card-title{
    margin: 10px;
}

.card-subtitle{
    margin: 10px;

}

.card-text{
    margin: 5px;
    
}