 
<app-header></app-header>

<div class="container">
 <!-- ======= Contact Section ======= -->
 <section id="contact" class="contact">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>联络我们</h2>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="contact-about">
            <h3>林登华文学会</h3>
            <p>林登华文学会于 2018 年成立，志在培育华教子弟及传扬中华文化。虽然即将各奔西东，但愿大家一切安好，继续传承中华文化，爱我中华。</p>
            <div class="social-links">
              <a href="https://www.facebook.com/LUCChineseAssociation" target="_blank" class="facebook"><i class="fab fa-facebook-square"></i></a>
              <a href="https://www.instagram.com/chinese.association.linton/" target="_blank" class="instagram"><i class="fab fa-instagram-square"></i></a>
              <a href="https://hovahyii.github.io/LUC-Chinese-Association-External-Affair/" target="_blank" class="facebook"><i matTooltip="外务部 E-CARD"  class="fas fa-id-card"></i></a>

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
          <div class="info">
            <div>
              <i class="fas fa-map-marker-alt"></i>
              <p>Bandar Universiti Teknologi Legenda (BUTL)，Batu 12, <br>71700 Mantin, Negeri Sembilan</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>chineseasscociation@ktg.edu.my</p>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="君の名字" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="君の📧" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="标题" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="留言。。。"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</div>


<app-footer></app-footer>