

  .column {
    display: inline-flex;
    
  }
  
  @media screen and (max-width: 960px) {
    .column {
      width: 100vw;
    }

    .card {
        width: 100vw;
    
      }
  }
  

  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 90%;
  }
  
  .button:hover {
    background-color: #555;
  }