
<div id="committees" class="container">

    <div  class="row">
        <div class="heading-title text-center">
            <h3 class="text-uppercase">职员 20/21</h3>
        </div>
    </div>

    <div class="row">
      
        <div  *ngFor="let committee of committees"  class="col-md-4 col-sm-4">
            <div class="team-member" >
                <div class="team-img">
                    <img src={{committee.image}} alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>{{committee.headline}}</h4>
                        <p>{{committee.comment}}</p>
                    </div>
                    <div class="s-link">
                        <a href={{committee.whatsapp}} target="_blank"><i class="fab fa-whatsapp"></i></a>
                        <a href={{committee.email}}><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>{{committee.name}}</h5>
                <span>{{committee.position}}</span>
            </div>
        </div>
    </div>

</div>