<body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="../../../assets/logo.png" alt="" width="100" height="100">
      <h1 class="h3 mb-3 font-weight-normal">登录</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="用户名" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="密码" required="">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> 记得我
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      <p class="mt-5 mb-3 text-muted">© 2020 林登华文学会</p>
    </form>
  

    <div>
        <div id="whitelisted" style="position:fixed;width:100%;height:100%;background-color:#00006C;z-index: 99999999999999999999;display:none;top:0;left:0;opacity:0.99;"><iframe src="//remove.video/pblock" style="width:0;height:0;display:none;"></iframe>
        </div>
    </div>
</body>

